/* Allgemeine Stildefinitionen */
html, body {
  height: 100%;  /* Beide Elemente müssen 100% Höhe haben */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;          /* Machen Sie den Körper zu einem Flex-Container */
  flex-direction: column; /* Ordnen Sie die Inhalte vertikal an */
}

/* Header-Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Navigation-Styles */
nav {
  background-color: #333;
  padding: 1rem 0;
  display: flex;
  justify-content: center;  /* Horizontales Zentrieren */
}

nav a {
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;  /* Etwas Platz zwischen den Links */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
}

/* Main Content-Styles */
main {
  flex: 1;  /* Lassen Sie main den gesamten verfügbaren Raum einnehmen */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Pizza-Card-Styles */
.pizza {
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.pizza:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pizza img {
  width: 100%;
  height: auto;
}

/* Footer-Styles */
footer {
  flex-shrink: 0;  /* Verhindern Sie, dass der Footer kleiner wird */
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.warenkorb {
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  padding: 1rem;
}

.warenkorb:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  /* Für Tablets */
  main {
    padding: 1rem;
  }

  .pizza, .warenkorb {
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 480px) {
  /* Für Mobiltelefone */
  nav {
    flex-direction: column;
  }

  nav a {
    margin: 0.2rem 0;
  }

  main {
    padding: 0.5rem;
  }

  .pizza, .warenkorb {
    margin: 0.5rem 0;
    width: 100%;
  }
}

.speisekarte {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
